 header {
    display: inline-block;
     background-color: yellow;
     width: 100%;
 }

 header > img {
    float: left;
    height: 50px;
     }
header > nav {
    margin-top: 13px;
    float: right;
}

header > nav > a {
    float: left;
    margin-right: 20px;
    font-size: 20px;
    line-height: 20px;
    text-decoration: none;
    }

header > nav > a:last-child {
    margin-right: 0;
}


/*
I- header a:nth-child(2) {<-antras header - a(vaikas) bus su spalva kazkokia 
background-color: (spalva) ; 
}
I- nth-child(2n)  su raide n (tik raide n galima naudoti) - kas antras - prades  nuo antro.
3n - kas trecias/4n - kas ketvirtas... 
I- nth-child(2n+1) paims kas antra tik nuo pirmo. 
I- nth-child(2n+6) prades spalvinti nuo 6-to.
*/

 
